.home-header {
  text-align: center;
  padding: 4rem 2rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.home-title {
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(to right, rgb(178, 23, 183), rgb(5, 34, 114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.highlight {
  color: rgb(118, 37, 8);
}

.home-subtitle {
  font-size: 1.5rem;
  color: rgb(15, 4, 165);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.home-tagline {
  font-size: 1.2rem;
  color: rgb(156, 8, 193);
  font-style: italic;
  font-weight: 500;
  margin-bottom: 2rem;
}

.featured-section {
  padding: 2rem 4rem;
  text-align: center;
}

.featured-arrival {
  color: #ed5700;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.featured-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.book-card-modern {
  background: rgb(252, 252, 252);
  border-radius: 19px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.book-card-modern:hover {
  transform: scale(1.05);
}

.book-image-modern {
  width: 70%;
  height: 420px;
  object-fit: cover;
}

.book-info-modern {
  padding: 1rem;
}
